{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'AppBundle::forms_vertical.html.twig' %}

{% set bodyClass = 'gray-bg' %}
{% set title = 'user.register.title'|trans %}

{% block content %}

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>{{ title }}</h4>
          <hr>

          {% include 'AppBundle::flashes.html.twig' %}

          {{ form_start(form, {action: path('app_auth_register')}) }}

          {{ form_row(form.email) }}

          {#{{ form_row(form.legal) }}#}

          {#<div class="natural-member">#}
            {#{{ form_row(form.ROLE_RACER) }}#}
            {#{{ form_row(form.ROLE_JUDGE) }}#}
          {#</div>#}

          {#<div class="legal-member hidden">#}
            {#{{ form_row(form.ROLE_DECLARANT) }}#}
            {#{{ form_row(form.ROLE_ORGANISATOR) }}#}
          {#</div>#}

          {{ form_row(form.firstname, {attr: {'data-legal': 'user.title.firstname_legal'|trans, 'data-natural': 'user.label.firstname'|trans}}) }}
          {{ form_row(form.lastname, {attr: {'data-legal': 'user.title.lastname_legal'|trans, 'data-natural': 'user.label.lastname'|trans}}) }}

          <div class="legal-member hidden">
            {{ form_row(form.memberName) }}
            {{ form_row(form.memberCode) }}
          </div>

          {{ form_row(form.address) }}

          {{ form_row(form.city) }}

          {{ form_row(form.gender) }}

          {{ form_row(form.languages, {attr: {class: 'select2'}}) }}

          <div id="secondary-language">
              {{ form_row(form.secondaryLanguage) }}
          </div>

          {#{{ form_rest(form) }}#}

          <button type="submit" name="_submit" class="btn btn-primary">{{ 'button.submit'|trans }}</button>

          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
  {{ parent() }}

  {#{% include 'AppBundle:User:form_js.html.twig' %}#}
  {% include 'AppBundle::driver_judge_form_js.html.twig' with {
      'secondaryLanguage': 'user_secondaryLanguage',
      'languages' : 'user_languages'
  } %}
{% endblock %}
