{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    {% include 'AppBundle::flashes.html.twig' %}

<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <div class="container-fluid">
        <div class="jumbotron col-md-12">
            <div class="col-md-12">
                <div class="page-header contentPageTitle">
                        <h1>Dainos su žodžiais bei tablatūromis ar akordais</h1>
                    </a>
                </div>
                <ul class="contentListUl">
                    {% for song in songs %}
                        <li>
                            {% set x = song.artist~" - "~song.name %}

                                <div class="row contentpadding">
                                        <div class="col-md-2 contentIconPadding">
                                            <img class="contentImage" src="https://cdn1.iconfinder.com/data/icons/appicns/513/appicns_iTunes.png"/>
                                        </div>
                                        <div class="col-md-10 contentTitle">
                                            <a href="{{ path('song', {'song': x } ) }}">
                                                <div class="col-md-10">
                                                    <span class="contentFont">
                                                    {{ song.name }}
                                                  </span>
                                                </div>
                                            </a>
                                                {% if app.user %}
                                                    <div class="col-md-2" align="right">
                                                        {% set has=false %}
                                                        {% for user in song.users %}
                                                            {% if user.id == app.user.id %}
                                                                {% set has=true %}
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% if has %}
                                                            <a class="btn btn-info" href="{{ url('app_music_deletefromfavourite', {'id': song.id,  'page': "music" }) }}">
                                                                <i class="span fa fa-heart" style="font-size: 35px" aria-hidden="true"></i>
                                                            </a>
                                                        {% else %}
                                                            <a class="btn btn-info" href="{{ url('app_music_addtofavourite', {'id': song.id, 'userId': app.user.id}) }}">
                                                                <i class="span fa fa-heart-o" style="font-size: 35px" aria-hidden="true"></i>
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                        </div>
                                </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
