{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'music.label.songs'|trans }}
            <a href="{{ url('app_music_addmusic') }}" class="btn btn-success pull-right"><i class="fa fa-plus"></i> {{ 'music.index.new'|trans }}
            </a>
        </h1>
    </div>

    {% include 'AppBundle::flashes.html.twig' %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-th-large"></i> {{ 'music.label.songs'|trans }}</h3>
        </div>
        <div class="rows-to-columns">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{{ sorter_link(songs, 'm.artist', 'music.label.song_artist'|trans) }}</th>
                    <th>{{ sorter_link(songs, 'm.name', 'music.label.song_title'|trans) }}</th>
                    <th>{{ sorter_link(songs, 'm.createdAt', 'music.label.upload_date'|trans) }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for song in songs %}
                    <tr>
                        <td data-title="{{ '#'|trans }}" class="col-min">{{ song.id }}</td>
                        <td data-title="{{ 'music.label.song_artist'|trans }}">{{ song.artist }}</td>
                        <td data-title="{{ 'music.label.song_title'|trans }}">{{ song.name }}</td>
                        <td data-title="{{ 'music.label.upload_date'|trans }}">{{ song.createdAt|date('Y-m-d') }}</td>
                        <td data-title="" class="col-min">
                            <a href="{{ url('app_musicstyle_edit', {id: song.id}) }}" class="btn btn-xs btn-link" data-title="{{ 'title.edit'|trans }}" data-toggle="tooltip">
                                <i class="fa fa-search"></i>
                            </a>
                            <a href="{{ url('app_musicstyle_delete', {id: song.id}) }}" class="btn btn-xs btn-link js-confirm" data-toggle="tooltip" data-title="{{ 'title.delete'|trans }}" data-text="{{ 'sport.flash.are_you_sure'|trans }}">
                                <i class="fa fa-times"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="panel-footer">
                {{ pagination(songs) }}
            </div>
        </div>
    </div>
{% endblock %}
