{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

  {% include 'AppBundle::flashes.html.twig' %}

<div class="container-fluid">
  <div class="jumbotron col-sm-12">
    <div class="row">
      <div class="col-sm-6"></div>
      <div class="col-sm-6">
      {{ form_start(form) }}
        <div class="input-group col-sm-12">
          {{ form_widget(form.q) }}
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <span class="fa fa-search"></span>
            </button>
          </span>
        </div>
      {{ form_end(form) }}
        <br>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="page-header">
        <a href="{{ path('music') }}">
          <h1>DAINOS</h1>
        </a>
      </div>
      <div>
        <ul>
          <li>
            <a href="{{ path('song', {'song': "AC_DC - \'Back In Black\'"}) }}">
              <span>
                AC_DC - 'Back In Black'
              </span>
            </a>
          </li>
          <li>
            <a>
              <span>
                Animals - 'House of the Rising Sun'
              </span>
            </a>
          </li>
          <li>
            <a>
              <span>
                Avenged Sevenfold - 'Hail to the King Ragnar'
              </span>
            </a>
          </li>
          <li>
            <a>
              <span>
                Creedence Clearwater Revival - 'Fortunate Son'
              </span>
            </a>
          </li>
          <li>
            <a>
              <span>
                Lynyrd Skynyrd - 'Sweet Home Alabama'
              </span>
            </a>
          </li>
          <li>
            <a>
              <span>
                Pearl Jam - 'Grammie Out Of Control'
              </span>
            </a>
          </li>
          <li>
            <a>
              <span>
                Survivor - 'Eye Of The Tiger'
              </span>
            </a>
          </li>
          <li>
            <a>
              <span>
                The Doors - 'Riders On The Storm'
              </span>
            </a>
          </li>
          <li>
            <a>
              <span>
                The Rolling Stones - 'Sympathy For The Devil'
              </span>
            </a>
          </li>
          <li>
            <a>
              <span>
                The White Stripes - 'Seven Nation Army'
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="page-header">
        <a href="{{ path('articles') }}">
          <h1>Straipsniai</h1>
        </a>
      </div>
      <ul>
        <li>
          <a href="{{ path('article', {'article': "AC_DC - \'Back In Black\'"}) }}">
            <span>
              AC_DC - 'Back In Black'
            </span>
          </a>
        </li>
        <li>
          <a>
              <span>
                Animals - 'House of the Rising Sun'
              </span>
          </a>
        </li>
        <li>
          <a>
              <span>
                Avenged Sevenfold - 'Hail to the King Ragnar'
              </span>
          </a>
        </li>
        <li>
          <a>
              <span>
                Creedence Clearwater Revival - 'Fortunate Son'
              </span>
          </a>
        </li>
        <li>
          <a>
              <span>
                Lynyrd Skynyrd - 'Sweet Home Alabama'
              </span>
          </a>
        </li>
        <li>
          <a>
              <span>
                Pearl Jam - 'Grammie Out Of Control'
              </span>
          </a>
        </li>
        <li>
          <a>
              <span>
                Survivor - 'Eye Of The Tiger'
              </span>
          </a>
        </li>
        <li>
          <a>
              <span>
                The Doors - 'Riders On The Storm'
              </span>
          </a>
        </li>
        <li>
          <a>
              <span>
                The Rolling Stones - 'Sympathy For The Devil'
              </span>
          </a>
        </li>
        <li>
          <a>
              <span>
                The White Stripes - 'Seven Nation Army'
              </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
  {% if licences.pagination.pageCount > 1 %}
    {{ pagination(licences) }}
  {% endif %}
{% endblock %}
