{% if licence.declarantLicence %}
  <div class="row">
    <div class="col-sm-4">
      {{ form_label(form.representatives) }}

      <div class="representatives form-group form-collection"
           data-prototype="{{ form_widget(form.representatives.vars.prototype)|e }}"
           data-add-title="{{ 'licences.info.add_representative'|trans }}">
        {% for representatives in form.representatives %}
          {{ form_widget(representatives) }}
        {% endfor %}
        {% do form.representatives.setRendered %}
      </div>
    </div>
    <div class="col-sm-8">
      {{ form_label(form.users) }}
      <div class="users form-group form-collection"
           data-prototype="{{ form_widget(form.users.vars.prototype)|e }}"
           data-add-title="{{ 'licences.info.add_racer'|trans }}">
        {% for users in form.users %}
          {{ form_widget(users) }}
        {% endfor %}
        {% do form.users.setRendered %}
      </div>
    </div>
  </div>
{% endif %}


{% if licence.driverLicence or licence.judgeLicence %}
  <div class="form-group">
    <label class="control-label required">{{ 'licences.label.deliver_to'|trans }}</label>
    <div class="address-conditions">
        {{ form_row(form.deliverTo) }}
        <div id="delive_to_address" class="hidden">
          {{ form_row(form.deliverToAddress, {attr: {class: 'select2'}}) }}
        </div>
    </div>
  </div>
{% endif %}

{% if form.urgency is defined %}
    {{ form_row(form.urgency) }}
{% endif %}

{% if licence.driverLicence or licence.judgeLicence %}
    {{ form_errors(form) }}
{% endif %}
