{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'AppBundle::forms_vertical.html.twig' %}
{% set title = ('licences.type.' ~ licence.type)|trans %}

{% block content %}

    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>

    {% include 'AppBundle::flashes.html.twig' %}

    {{ form_start(form, {action: path('app_licences_extend', {id: licence.id})}) }}
    {% if form.sports is defined %}
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.sports, {attr: {class: 'select2'}}) }}
            </div>
        </div>
    {% endif %}
    <div class="row">
        {% for doc in form.documents %}
            {% if loop.index0 % 2 == 0 %}
            <div class="clearfix">
            {% endif %}
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>{{ loop.index }}. {{ ('file_uploads.type.'~doc.vars.data.type)|trans }}</h4>
                        {% if (doc.vars.data.type == constant('AppBundle\\Entity\\FileUpload::TYPE_INSURANCE')) %}

                            <ul class="nav nav-tabs" id="insurance-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#have-insurance" role="tab"
                                       aria-controls="home">{{ 'licences.label.insurance.have'|trans }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#need-insurance" role="tab"
                                       aria-controls="profile">{{ 'licences.label.insurance.need'|trans }}</a>
                                </li>
                            </ul>

                            <div class="tab-content" id="insurance-tab-content">
                                <div class="tab-pane active" id="have-insurance" role="tabpanel">
                                    {{ form_widget(doc) }}
                                </div>
                                <div class="tab-pane" id="need-insurance" role="tabpanel">
                                    <div class="form-group">
                                        <div class="panel-body insurance">
                                            <div id="buy-insurance">
                                                <a id="read-insurance-agreement"
                                                   href="#"
                                                   data-toggle="modal"
                                                   data-target=".insurance-agreement-modal">{{ 'licences.insurance.title'|trans }}</a>
                                                <div id="insurance-conditions" class="hidden">
                                                    {{ form_row(form.lasfInsurance) }}
                                                </div>
                                                <div id="identity-code-field" class="hidden">
                                                    {{ form_row(form.identityCode) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% include 'AppBundle::insurance_agreement.html.twig' %}
                                </div>
                            </div>
                        {% else %}
                            <hr>
                            {{ form_widget(doc) }}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if (loop.index0 % 2 == 1 or loop.last) %}
            </div>
            {% endif %}
        {% endfor %}
    </div>

    {% if licence.driverLicence or licence.judgeLicence %}
        <div class="form-group">
            <label class="control-label required">{{ 'licences.label.deliver_to'|trans }}</label>
            <div class="address-conditions">
                {{ form_row(form.deliverTo) }}
                <div id="delive_to_address" class="hidden">
                    {{ form_row(form.deliverToAddress, {attr: {class: 'select2'}}) }}
                </div>
            </div>
        </div>
    {% endif %}

    {% if form.urgency is defined %}
        {{ form_row(form.urgency) }}
    {% endif %}

    {{ form_rest(form) }}
    <button type="submit" class="btn btn-primary">{{ 'licences.extend.submit'|trans }}</button>
    {{ form_end(form) }}

{% endblock %}

{% block js %}
    {{ parent() }}
    {% include 'AppBundle::driver_judge_form_js.html.twig' with {
    'secondaryLanguage': 'licence_info_secondaryLanguage',
    'languages' : 'licence_info_languages'
    } %}
    {% include 'AppBundle::licence_info_js.html.twig' %}
    <script src="{{ asset('build/licence.js') }}"></script>
    <script>
        displayDeliverToAdress($("#licence_info_deliverTo"), $('#licence_info_deliverTo_1'));
    </script>
{% endblock %}
