{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
  <div class="page-header">
    <h1>
      {{ 'licences.index.title'|trans }}
    </h1>
  </div>

  {% include 'AppBundle::flashes.html.twig' %}

  <div class="panel panel-primary">
    <div class="panel-heading">
      <ul class="list-inline">
        <li><h3 class="panel-title"><i class="fa fa-users"></i> {{ 'user.index.title'|trans }}</h3></li>
        <li class="pull-right"><a id="filters_button" href="#" style="color: #ffffff; font-weight: 500; text-decoration: none;">Papildomi filtrai<span class="caret"></span></a></li>
      </ul>
      <div id="additional_filters" class="pull-right col-md-8" style="display: none;">
        <table style="margin-top: 20px;">
          <thead>
          <tr>
            <th>{{ sorter_link(licences, 'l.city', 'licences.label.city'|trans) }}</th>
            <th>{{ sorter_link(licences, 'l.language', 'licences.label.language'|trans) }}</th>
            <th>{{ sorter_link(licences, 'u.secondaryLanguage', 'user.label.other_language'|trans) }}</th>
            <th><a href="#">{{ 'licences.label.gender'|trans }}</a></th>
            <th><a href="#">{{ 'licences.label.driver_type'|trans }}</a></th>
            <th><a href="#">{{ 'licences.label.sports'|trans }}</a></th>
            <th></th>
          </tr>
          <tr role="row" class="filter">
            <td>{{ filter_search(licences, "l.city") }}</td>
            <td>{{ filter_select(licences, "l.language", languageTypes) }}</td>
            <td>{{ filter_search(licences, "u.secondaryLanguage") }}</td>
            <td>{{ filter_select(licences, "l.gender", genderTypes) }}</td>
            <td>{{ filter_select(licences, "l.driverTypes", driverTypes) }}</td>
            <td>{{ filter_select(licences, "l.sports", sportTypes) }}</td>
          </tr>
          </thead>
        </table>
      </div>
    </div>
    <div class="rows-to-columns">
      <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th style="width: 60px;">{{ sorter_link(licences, 'l.id', '#') }}</th>
          <th>{{ sorter_link(licences, 'fullName', 'licences.label.user'|trans) }}</th>
          <th>{{ 'licences.index.legal_person'|trans }}</th>
          <th>{{ sorter_link(licences, 'l.type', 'licences.label.type'|trans) }}</th>
          <th>{{ sorter_link(licences, 'l.status', 'licences.label.status'|trans) }}</th>
          <th style="white-space: nowrap; width: 90px;">{{ sorter_link(licences, 'series', 'licences.label.serial_code'|trans) }}</th>
          <th style="width: 92px;">{{ sorter_link(licences, 'l.createdAt', 'licences.label.created_at'|trans) }}</th>
          <th style="width: 92px;">{{ sorter_link(licences, 'l.expiresAt', 'licences.label.expires_at'|trans) }}</th>
          <th></th>
        </tr>
        <tr role="row" class="filter">
          <td>{{ filter_search(licences, "l.id") }}</td>
          <td>{{ filter_search(licences, "l.fullName") }}</td>
          <td>{{ filter_search(licences, "legal") }}</td>
          <td>{{ filter_select(licences, "l.type", types) }}</td>
          <td>{{ filter_select(licences, "l.status", statuses) }}</td>
          <td>{{ filter_search(licences, "serial") }}</td>
          <td>{{ filter_search(licences, "l.createdAt") }}</td>
          <td>{{ filter_search(licences, "l.expiresAt") }}</td>
          <td><a href="{{ path('app_licences_getcsv', {'filters': app.request.query.get('filters')}) }}" class="btn btn-sm btn-primary pull-right">{{ 'licences.label.licence_csv'|trans }}</a></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        {% for licence in licences %}
          <tr>
            <td data-title="#">{{ licence.id }}</td>
            <td data-title="{{ 'licences.label.user'|trans }}">
              {{ licence.user.fullName }}<br>
              <span class="{{ not licence.user.mature ? 'text-danger' }}">
                {{ licence.user.birthday ? licence.user.birthday|localizeddate('short', 'none') : '-' }}
              </span>
            </td>
            <td data-title="{{ 'licences.index.legal_person'|trans }}">
              {% if licence.driverLicence %}
                {{ licence.licence ? licence.licence.user.memberName }}
              {% elseif licence.membershipLicence or licence.organisatorLicence or licence.declarantLicence or licence.trackLicence %}
                {{ licence.user.memberName }}
              {% elseif licence.judgeLicence %}
                {{ licence.declarant.memberName }}
              {% endif %}
            </td>
            <td data-title="{{ 'licences.label.type'|trans }}">
              <a href="{{ url('app_licences_edit', {id: licence.id}) }}" class="unvisited-blue">
                {{ ('licences.type.'~licence.type)|trans }}
                  {% if licence.urgency == constant('AppBundle\\Entity\\Licence::URGENCY_URGENT') and not licence.produced %}
                    <br />
                    <span class="fa fa-info-circle text-info"></span>
                  {% endif %}
              </a>
            </td>
            <td data-title="{{ 'licences.label.status'|trans }}">{{ licence.translationStatus|trans }}{{ licence.extending and not licence.extend ? ' (' ~'licences.status.extend'|trans|lower ~ ')'}}</td>
            <td data-title="{{ 'licences.label.serial_code'|trans }}" style="white-space: nowrap;">{{ licence.fullSerial }}</td>
            <td data-title="{{ 'licences.label.created_at'|trans }}">{{ licence.createdAt|localizeddate('short', 'none') }}</td>
            <td data-title="{{ 'licences.label.expires_at'|trans }}">{{ licence.expiresAt ? licence.expiresAt|localizeddate('short', 'none') : '-' }}</td>
            <td data-title="-" class="col-min text-right" style="line-height: 2em">
              {% include 'AppBundle:Licences:licence_actions.html.twig' with {licence: licence} %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
    <div class="panel-footer">
      {{ pagination(licences) }}
    </div>
  </div>
{% endblock %}


{% block js %}
  <script>
      $(document).on('click', '#filters_button', function() {
          $('#additional_filters').toggle();
      });
  </script>
{% endblock %}
