{% if is_granted('ROLE_ACCOUNTANT') %}

  {% if licence.notPaid %}
    <a href="{{ url('app_licences_markasinvoice', {id: licence.id }) }}" class="btn btn-xs btn-default">
      <i class="fa fa-file-text-o"></i> {{ 'licences.index.btn_invoice'|trans }}
    </a><br>
  {% endif %}

  {% if licence.notPaid or licence.invoiceSent %}
    <a href="{{ url('app_licences_markaspaid', {id: licence.id }) }}" class="btn btn-xs btn-default">
      <i class="fa fa-eur"></i> {{ 'licences.index.btn_paid'|trans }}
    </a><br>
     <a href="{{ url('app_licences_remind', {id: licence.id }) }}" class="btn btn-xs btn-default" data-title="{{ 'licences.index.remind'|trans }}" data-toggle="tooltip">
      <i class="fa fa-envelope"></i> {{ 'licences.index.btn_remind'|trans }}
    </a><br>
  {% endif %}

{% endif %}

{% if is_granted('ROLE_ADMIN') %}
  {% if licence.confirmable %}
    <a href="{{ url('app_licences_confirm', {id: licence.id}) }}" class="btn btn-xs btn-default js-confirm" data-text="{{ 'licences.index.confirm_licence'|trans }}" data-title="{{ 'button.submit'|trans }}">
      <i class="fa fa-check-circle"></i> {{ 'button.submit'|trans }}
    </a><br>
    <a href="{{ url('app_licences_decline', {id: licence.id}) }}" class="btn btn-xs btn-default js-modal hidden-print" data-text="{{ 'licences.index.decline_text'|trans }}" data-title="{{ 'button.decline'|trans }}" data-toggle="tooltip">
      <i class="fa fa-minus-circle"></i> {{ 'button.decline'|trans }}
    </a><br>
  {% endif %}
  {% if not licence.organisatorLicence %}
    <a href="{{ url('app_licences_delete', {id: licence.id}) }}" class="btn btn-xs btn-default js-confirm js-no-ajax" data-text="{{ 'licences.index.remove_text'|trans }}" data-title="{{ 'button.delete'|trans }}">
      <i class="fa fa-times-circle"></i> {{ 'button.delete'|trans }}
    </a><br>
  {% endif %}

  {% if licence.paid %}
    {% if licence.membershipLicence %}
      <a href="{{ url('app_licences_markasproduced', {id: licence.id}) }}" class="btn btn-xs btn-default js-confirm" data-text="{{ 'licences.index.confirm_produced_membership'|trans }}" data-title="{{ 'licences.index.produced_membership'|trans }}">
        <i class="fa fa-get-pocket"></i> {{ 'licences.index.produced_membership'|trans }}
      </a><br>
    {% else %}
      <a href="{{ url('app_licences_markasproduced', {id: licence.id}) }}" class="btn btn-xs btn-default js-confirm" data-text="{{ 'licences.index.confirm_produced_licence'|trans }}" data-title="{{ 'licences.index.produced'|trans }}">
        <i class="fa fa-get-pocket"></i> {{ 'licences.index.produced'|trans }}
      </a><br>
    {% endif %}
  {% endif %}
{% endif %}
