{% if is_granted('lasf-spectator-select', app.user) %}
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user"></i> {{ 'application.label.observer'|trans }}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.observer) }}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endif %}

{% if is_granted('commissioner-select', app.user) %}
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user"></i> {{ 'application.steward.title'|trans }}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.stewards, {attr: {class: 'select2'}}) }}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endif %}

{% set competitionChief = competition.competitionChief ? competition.competitionChief.user : null  %}
{% if (app.user == competitionChief and is_granted('judge-assign-chief', app.user)) or is_granted('judge-assign-organiser', app.user) %}
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user"></i> {{ 'application.judge_select.title'|trans }}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.judges, {attr: {class: 'select2'}}) }}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endif %}

{% if is_granted('lasf-technician-select', app.user) %}
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user"></i> {{ 'application.label.technical_delegate'|trans }}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.technicalDelegate) }}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endif %}

{% if is_granted('skk-chairman-select', app.user) %}
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user"></i> {{ 'application.skk_head.title'|trans }}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.skkHead) }}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endif %}

{% if is_granted('svo-delegate-select', app.user) %}
    {% if is_granted('svo-delegate-see', app.user) %}
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-user"></i> {{ 'application.label.svo_delegate'|trans }}</h3>
        </div>
    {% endif %}
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.svoDelegate) }}
            </div>
            <div class="col-md-12">
                {% if application.svoDelegateConfirmed %}{{ 'application.status.confirmed' | trans }}{% else %}{{ 'application.status.unconfirmed' | trans }}{% endif %}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% else %}
    {% if is_granted('svo-delegate-confirm', app.user) %}
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <p>{{ application.svoDelegate }}</p>
                    <p>{% if application.svoDelegateConfirmed %}{{ 'application.status.confirmed' | trans }}{% else %}{{ 'application.status.unconfirmed' | trans }}{% endif %}</p>
                    <p>
                        <a href="{{ url('app_application_togglesvoconfirmed', {id: application.id}) }}"
                           class="btn btn-xs btn-default js-no-ajax" data-title="{{ 'application.svo.toggle'|trans }}">
                            <i class="fa fa-info-circle"></i> {{ 'application.svo.toggle'|trans }}
                        </a>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    {% endif %}
{% endif %}

{% if is_granted('competition-chief-view', app.user) %}
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-user"></i> {{ 'application.competition_chief_select.title'|trans }}
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.competitionChief) }}
                    {{ form_row(form.competitionChiefConfirmed) }}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
{% endif %}

{% if is_granted('safety-plan-view', app.user) and is_granted('safety-chief-select', app.user) %}
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user"></i> {{ 'application.safety_chief_select.title'|trans }}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.safetyChief, {attr: {class: 'select2'}}) }}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endif %}
