{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'AppBundle::forms_vertical.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'application.new.title'|trans }}
            {{ back_button('app_application_index') }}
        </h1>
    </div>

    {% include 'AppBundle::flashes.html.twig' %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-file"></i> {{ 'application.sub_competition.application'|trans }}</h3>
        </div>
        {{ form_errors(form) }}
        {{ form_start(form) }}
        <div class="panel-body">
            <div class="row">
                <div class="application-form">
                    <div class="col-md-6">
                        {{ form_row(form.sport) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.league) }}
                        {{ form_row(form.dateFrom) }}
                        {{ form_row(form.dateTo) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.location) }}
                        {{ form_row(form.stage) }}
                        {{ form_row(form.type) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-heading" style="background-color: #337ab7; color: #ffffff;">
            <h3 class="panel-title"><i class="fa fa-user"></i> {{ 'application.new.organizer_info'|trans }}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                {% include 'AppBundle:Application:user_fields.html.twig' %}
            </div>
        </div>
        <div class="panel-footer text-center">
            <button type="submit"
                    class="btn btn-primary validate-application">{{ 'button.confirm_application'|trans }}</button>
            <a href="{{ url('app_application_modify', {'id': application.id}) }}" class="btn btn-default">{{ 'button.cancel'|trans }}</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block js %}
    {% include 'AppBundle::application_subApplication_js.html.twig' with
        {
            'date_from': '#sub_application_dateFrom',
            'date_to' : '#sub_application_dateTo',
            'name' : '#sub_application_name'
        }
    %}
    {% include 'AppBundle::google_maps.html.twig' with {'element': 'sub_application_location'} %}
{% endblock %}
